@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --bodyColor: black;
    --bodyFontFamily: "Montserrat";
    --bodyFontFamilyFallback: sans-serif;
    --bodyFontWeight: 450;
    --bodyBackgroundColor: rgba(153, 255, 255, 0.6);
    --bodyBackgroundBorder: rgba(138, 80, 22, 1);
    --bodyFontSize: 1.1rem;
    --bodyFontSizeTitle: 1rem;
    --sobreBackgroundColorh2: rgba(19, 175, 19, 1);
    --sobreBackgroundColorText: rgba(219, 255, 255, 0.6);
    --sobreTextPadding: 0.4rem;
    --homeLinkBackgroundColor: rgba(219, 255, 255, 0.6);
    --homeLinkFontWeight: 600;
    --homeLinkFontSize: 1.3rem;
    --defaultBorderRadius: 0.5rem;
}
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    color: var(--bodyColor);
    font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
    font-weight: var(--bodyFontWeight);
    margin: 0;
    font-size: var(--bodyFontSize);
}
body h2{
    font-size: var(--bodyFontSizeTitle);
}
a{
    color: inherit;
    text-decoration: none;
}

.alignLogo{
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.backgroundAll{
    background-image: url("Imagens/BackgroundImg.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.backgroundMain{
    background: var(--bodyBackgroundColor);
    backdrop-filter: blur;
    border: 0.15rem groove var(--bodyBackgroundBorder);
    margin: 0.7rem;
    padding: 0.9rem;
    border-radius: var(--defaultBorderRadius);
}
.backgroundMain h2{
    background-color: var(--sobreBackgroundColorh2);
    font-size: 1.25rem;
    text-align: center;
}
.backgroundMain p{
    background-color: var(--sobreBackgroundColorText);
    backdrop-filter: blur;
}

.sobreConfig{
    border: 0.15rem groove var(--bodyBackgroundBorder);
    border-radius: var(--defaultBorderRadius);
    margin-bottom: 0.5rem;
}
.sobreConfig p{
    padding: var(--sobreTextPadding);
}


.homeLinks{
    font-weight: var(--homeLinkFontWeight);
    font-size: var(--homeLinkFontSize);
    background: var(--homeLinkBackgroundColor);
    width: 60rem;
    height: 10rem;
}
.homeLinks a{
    display: block;
    width: inherit;
    height: inherit;
}
.homeLinks div{
    border: 0.05rem groove var(--bodyBackgroundBorder);
    border-radius: var(--defaultBorderRadius);
}

.homeLinksAlign{
    display: flex;
}
