@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --bodyColor: black;
    --bodyFontFamily: "Open Sans";
    --bodyFontFamilyFallback: sans-serif;
    --bodyFontWeight: 450;
    --bodyBackgroundColor: rgba(200, 253, 253, 0.82);
    --bodyBackgroundBorder: rgba(138, 80, 22, 1);
    --bodyFontSize: 1.1rem;
    --bodyFontSizeHomeTitleh2: 1rem;
    --bodyFontSizeHomeTitleh1: 1.5rem;
    --fontSizeGeneralTitleh2:1.2rem;
    --fontSizeGeneraltitleh1:1.7rem;
    --bodyFontSizeList: 1.04rem;
    --bodyFontWeighth1: 660;
    --sobreBackgroundColorh2: rgba(19, 175, 19, 1);
    --sobreBackgroundColorText: rgba(219, 255, 255, 0.6);
    --sobreTextPadding: 0.4rem;
    --homeLinkBackgroundColor: rgba(219, 255, 255, 0.6);
    --homeLinkFontWeight: 600;
    --homeLinkFontSize: 1.3rem;
    --homeLinkBackgroundColorHover: rgb(130, 206, 206);
    --defaultBorderRadius: 0.5rem;
}
*{
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    color: var(--bodyColor);
    font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
    font-weight: var(--bodyFontWeight);
    font-size: var(--bodyFontSize);
}
h1{
    font-size: var(--bodyFontSizeTitleh1);
}
body h2{
    font-size: var(--bodyFontSizeTitle);
}
a{
    color: inherit;
    text-decoration: none;
}

.backgroundAll{
    position: relative;
    background-image: url("Imagens/BackgroundImg.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.alignLogo{
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.backgroundMain{
    background: var(--bodyBackgroundColor);
    backdrop-filter: blur;
    border: 0.15rem groove var(--bodyBackgroundBorder);
    margin: 1rem;
    padding: 2rem;
    border-radius: var(--defaultBorderRadius);
    z-index: 1;
}
.backgroundMainH2 h2{
    background-color: var(--sobreBackgroundColorh2);
    font-size: 1.25rem;
    text-align: center;
}

.backgroundMainText p{
    background-color: var(--sobreBackgroundColorText);
    backdrop-filter: blur;
}

.titleUnderline{
    display: inline-block;
    position: relative;
    font-weight: var(--bodyFontWeighth1);
    margin-bottom: 1rem;
    margin-left: 0.4rem;
    font-size: var(--fontSizeGeneraltitleh1);
}
.titleUnderline::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.11rem;
    border-bottom: 0.15rem solid rgb(85, 87, 104);
    width: 100rem;
    box-sizing: border-box;
}

.sobreConfig{
    border: 0.15rem groove var(--bodyBackgroundBorder);
    border-radius: var(--defaultBorderRadius);
    margin-bottom: 0.5rem;
}
.sobreConfig p{
    padding: var(--sobreTextPadding);
}


.sumario{
    margin: 0;
    margin-top: 2.2rem;
    border-radius: var(--defaultBorderRadius);
    border: 0.05rem groove var(--bodyBackgroundBorder);
}

.homeLinks{
    font-weight: var(--homeLinkFontWeight);
    font-size: var(--homeLinkFontSize);
}
.homeLinks div{
    display: inline-block;
    border: 0.05rem groove var(--bodyBackgroundBorder);
    border-radius: var(--defaultBorderRadius);
    background: var(--homeLinkBackgroundColor);
}
.homeLinks div:hover{
    background-color: var(--homeLinkBackgroundColorHover);
}

.homeLinksAlign{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    padding: 2rem;
    margin-top: 0rem;
}
.homeLinksAlign div{
    display: grid;
    place-items: center;
}

.menuLinks{
    font-size: 1.1rem;
    margin-top: 0.1rem;
    margin-bottom: 0.8rem;
    margin-left: 0.7rem;
}
.menuLinks a{
    color: rgb(25, 42, 195);
}
.menuLinks a:hover{
    text-decoration: underline;
}

.textGeneral p{
    font-size: var(--bodyFontSize);
    margin: 0.3rem;
    margin-left: 1rem;
}
.textGeneral li{
    font-size: var(--bodyFontSizeList);
    margin: 0.4rem;
    margin-left: 3rem;
}
.textGeneral h2{
    font-size: var(--fontSizeGeneralTitleh2);
}

.spacing{
    margin-top: 1.4rem;
}

.introImageConfig{
    margin-top: 0.3rem;
    margin-left: 3rem;
}

.containerIntro{
    display: flex;
    margin-right: 4rem;
}
.containerIntro img{
    flex-shrink: 0;
    flex-grow: 0;
    align-self: flex-start;
    width: auto;
    height: auto;
}

.paragraphIndent{
    text-indent: 0.5rem;
}

.copyrightHome{
    text-decoration: underline;
    font-size: 1rem;
    float: right;
}

/* caractere invísivel &nbsp; &nbsp; */